
# This is a basic workflow to help you get started with Actions

name: Unity Engine coming soon

on: 
  workflow_dispatch:
    inputs:
      authcode:
        description: 'Enter CRD code'
        required: true
  
jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Initializing Setup
      run: ./setup.ps1
    - name: Unity Installation
      run: ./unity.ps1
    - name: Starting CRD 
      run: ${{ github.event.inputs.authcode }} -pin=654321
    - name: Keep Alive
      run: ./timeout.ps1

  
    
